<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Dashboards y estadisticas</h1>
            <h3>
                <em>Informacion reelevante</em>
            </h3>
            <a href="/signin" class="btn btn-primary">comenzar</a>
        </div>
    </header>
</main>